html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: bisque;
}

.tag {
    font-family: monospace;
    font-weight: normal;
    background-color: lightgrey;
    font-style: italic;
}

table {
    border: solid 3px black;
}

thead {
    background-color: lightblue;
}

th, td {
    border-bottom: solid 1px lightseagreen;
}